h1 {
    text-align: left;
    color: #1034A6;
    margin-left: 13px;
    margin-bottom: 1px;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h3, h4, h5, h6 {
    text-align: center;
}

#map {
    position: absolute;
    /*margin: 5px;*/
    top: 48px;
    bottom: 0;
    width: 80%;
    height: 94%;
}

.card {
    transition: 0.3s;
    border-radius: 5px;
    background-color: white;
    border: 1px solid grey;
    width: 100%;
    top: 0;
}

.column {
    float: left;
    width: 100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


@media screen and (max-width: 600px) {

}