h1{
    text-align: center;
}

/*.currentSA {*/
/*    !*width: 50%;*!*/
/*    !*height: 50%;*!*/
/*}*/

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
}


#map {
    width: 90%;
    height: 40vh;
    margin: 0 auto;
}

.card {
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
    transition: 0.3s;
    border-radius: 5px;
    background-color: white;
    border: 1px solid grey;
    width: 90%;
    margin-left: 20px;
}

.column {
    float: left;
    width: 40%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}